<h1>Pull zone manager</h1>

<div class="dashboard-container">
  <div class="dashboard-container__item">
    <button mat-stroked-button matTooltip="View list of pull zones" routerLink="/pull-zone/list">
      <div>Pull zones</div>
      <i class="material-icons-outlined">view_list</i>
    </button>
  </div>

  <div class="dashboard-container__item">
    <button mat-stroked-button matTooltip="Add new pull zone" routerLink="/pull-zone/add">
      <div>Add pull zone</div>
      <i class="material-icons-outlined">post_add</i>
    </button>
  </div>
</div>

